a {
  &.find-flavor {
    background-color: $color-black;
    clear: both;
    color: $color-white;
    display: inline-block;
    font-size: 11px;
    line-height: 2.5;
    margin: 0 15px;
    text-align: center;
    text-transform: uppercase;
    @include tablet {
      font-size: 15px;
      margin: 0 auto;
    }
  }
  &.nutritional-table {
    clear: both;
    color: $color-grey;
    display: inline-block;
    font-size: 18px;
    margin: 5% auto;
    width: 100%;
    &:before,
    &:after {
      border-bottom: 8px solid $color-grey;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 8px solid transparent;
      bottom: 0;
      content: '';
      display: inline-block;
      height: 0;
      margin: 0 5%;
      width: 0;
    } 
  }
}
