.recipes {
  margin-top: 20px;
  @include tablet {
    margin-top: 75px;
  }
  > header {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    @include tablet {
      font-size: 30px;
      margin-bottom: 75px;
      padding-left: 100px;    
    }
    img {
      display: none;
      float: right;
      height: initial;
      margin-right: 5%;
      max-width: 100px;
      width: initial;
      @include tablet {
        display: inline-block;
      }
    }    
  }
  .hero {
    line-height: 0;
  }
  .prep {
    @include tablet {
      align-items: stretch;
      @include flexbox();
    }
    > div {
      @include flex(1 0 50%);
      padding: 5% 2.5%;
    }
    .ingredients {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 2;
      text-align: center;
      h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
      }
    }
    .serving {
      background: url('../images/discover-more.jpg') center center no-repeat;
      background-size: cover;
      color: $color-white;
      font-size: 15px;
      letter-spacing: 1px;
      text-align: right;
      text-transform: uppercase;
      span {
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
  .instructions {
    background-color: $color-black;
    color: $color-white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 5% 0;
    position: relative;
    text-align: center;
    a {
      &.arrow {
        display: inline-block;
        height: 9px;
        margin: 0 10px;
        width: 9px;
        @include tablet {
          height: 48px;
          margin: -24px 0 0 0;
          position: absolute;
          top: 50%;
          width: 47px;
        }
        &.prev {
          background: url('../images/instructions-arrows-mobile-prev.jpg') 0 0 no-repeat;
          background-size: contain;
          @include tablet {
            background: url('../images/instructions-arrow-prev.png') 0 0 no-repeat;
            background-size: contain;
            left: 0;
          }
        }
        &.next {
          background: url('../images/instructions-arrows-mobile-next.jpg') 0 0 no-repeat;
          background-size: contain;
          @include tablet {
            background: url('../images/instructions-arrow-next.png') 0 0 no-repeat;
            background-size: contain;
            right: 0;
          }
        }
      }
    }
    header {
      text-transform: uppercase;
    }
    .step {
      margin: 0 auto;
      text-align: justify;
      width: 90%;
      @include tablet {        
        max-width: 575px;
        text-align: center;
      }
      > header {
        font-weight: 700;
        margin: 5% 0;
      }
    }
  }
  .more-recipes {
    header {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 5;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      @include tablet {
        font-size: 16px;
      }
    }
    a {
      &.arrow {
        display: none;
        height: 19px;
        position: absolute;
        top: 25px;
        width: 10px;
        @include tablet {
          display: inline-block;
        }
        &.prev {
          background: url('../images/recipes-more-arrows-prev.jpg') 0 0 no-repeat;
          background-size: contain;
          left: 20%;
        }
        &.next {
          background: url('../images/recipes-more-arrows-next.jpg') 0 0 no-repeat;
          background-size: contain;
          right: 20%;
        }
      }
    }
    img {
      display: inline-block;
      &:nth-child(n+2) {
        display: none;        
        @include tablet {
          display: inline-block;
          float: left;
        }
      }
      @include tablet {
        width: 33.3%;
      }
    }
  }
}
