section {
  &.header {
    .logo {
      margin-top: 20px;
      text-align: center;
      a {
        background: url('../images/logo.png') 0 0 no-repeat;
        background-size: 100%;
        display: inline-block;
        height: 78px;
        width: 130px;
      }
    }
    .search-block {      
      position: absolute;
      right: 35px;
      top: 35px;
      a {
        background: url('../images/icons.png') no-repeat;
        background-size: 200%;
        display: inline-block;
        height: 14px;
        line-height: 19px;
        width: 19px;
        &.icon-globe {
          background-position: 0 0;
        }
        &.icon-search {
          background-position: -24px 0;
        }
      }
      .search-box {
        display: none;
      }
    }
  }
}

footer {
  &.main-footer {
    clear: both;
    a {
      color: $color-darkgrey;
    }
    section {
      font-size: 9px;
      padding: 10px 20px;
      text-transform: uppercase;
    }
    .social {
      display: inline-block;
      ul {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
      li {
        display: inline-block;
        list-style: none;
      }
    }
    .links {
      float: right;
      text-transform: uppercase;
      a,
      span {
        padding: 0 5px;
      }
    }
    .copyright {
      float: right;
    }
  }
}

a.icon {
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  &.white {
    background: url('../images/icons-social-white.jpg') no-repeat;
    &.twitter {
      background-position: -26px 0;
    }
    &.facebook {
      background-position: 0 0;
    }
    &.instagram {
      background-position: -63px 0;
    }
  }
  &.black {
    background: url('../images/icons-social.png') no-repeat;
    &.twitter {
      background-position: 0 0;
    }
    &.facebook {
      background-position: -46px 0;
    }
    &.instagram {
      background-position: -82px 0;
    }
  }
  &.twitter {
    width: 20px
  }
  &.facebook {
    width: 10px
  }
  &.instagram {
    width: 20px
  }
}
