// Colors
$color-black:     #000000;
$color-darkgrey:  #333333;
$color-lightgrey: #959595;
$color-white:     #ffffff;

// Font stack
$font-gotham: 'Whitney SSm 7r', 'Whitney SSm A','Whitney SSm B',Georgia, Verdana,"Lucida Grande", "Lucida Sans",serif;

// Breakpoints
$tablet-width:  750px;
$desktop-width: 1100px;
