.about_contact {
  section {
    &.top {
      @include desktop {
        align-items: stretch;
        @include flexbox();
        flex-flow: row wrap;
      }
    }
    &.bottom {
      @include tablet {
        align-items: stretch;
        @include flexbox();
        flex-flow: row wrap;
      }
    }
  }
  aside {
    &.form {
      display: block;
      margin: 0 auto;
      max-width: 80%;
    }
    &.hero {
      display: none;
      line-height: 0;
      width: 50%;
      @include desktop {
        display: block;
      }
    }
    &.form,
    &.hero {
      @include desktop {        
        @include flex(1 0 50%);
      }
    }
    &.media,
    &.contact {
      color: $color-lightgrey;
      padding: 20px;
      text-align: center;
      @include tablet {
        @include flex(1 0 50%);
      }
    }
    &.media {
      background-color: $color-darkgrey;
    }
    &.contact {
      background-color: $color-black;
    }
  }
  h3 {
    color: $color-darkgrey;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  h5 {
    color: $color-brown;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}
