a {
  &.find-flavor {
    border: 1px solid $color-grey;
    clear: both;
    color: $color-darkgrey;
    display: inline-block;
    font-size: 11px;
    line-height: 3;
    margin: 10% 0 0;
    text-align: center;
    text-transform: uppercase;
    @include tablet {
      font-size: 15px;
    }
  }
  &.nutritional-table {
    border-bottom: 1px solid $color-lightgrey;
    clear: both;
    color: $color-lightgrey;
    display: inline-block;
    font-size: 14px;
    padding: 0 10px 0 0;
    position: relative;
    &:after {
      border-bottom: 4px solid transparent;
      border-left: 6px solid $color-lightgrey;
      border-right: 0px solid transparent;
      border-top: 4px solid transparent;
      bottom: 0;
      content: '';
      display: inline-block;
      height: 0;
      position: absolute;
      right: 0;
      top: 5px;
      width: 0;
    } 
  }
  &.close {
    color: $color-grey;
    font-size: 20px;
    position: absolute;
    right: 2.5%;
    text-decoration: none;
    top: 5%;
  }
  &.brown-link {
    background-color: transparent;
    border: 1px solid $color-brown;
    color: $color-brown;
    display: block;
    font-size: 13px;
    line-height: 3;
    margin: 0 auto;
    max-width: 200px;
    padding: 0 25px;
    text-align: center;
  }
}

div {
  &.disclaimers {
    border: 1px solid $color-grey;
    display: inline-block;
    font-size: 11px;
    line-height: 3;
    margin: 1%;
    padding: 0 5%;
    text-align: center;
    width: 47.5%;
    @include tablet {
      font-size: 15px;
    }
  }
  &.share-bar {
    bottom: 5%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 125px;
    ul {
      background-color: rgba(0, 0, 0, .5);
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    li {
      display: inline-block;
      margin: 0 -3.5px 0 0;
      padding: 0;
    }
    a {
      background: url('../images/sprite-social-share-bar.png') no-repeat;
      background-size: 700%;
      display: inline-block;
      height: 20px;
      width: 22px;
      &.reblog {
        background-position: 3px 3px;
      }
      &.like {
        background-position: -31px 3px;
      }
      &.tweet {
        background-position: -68px 3px; 
      }
      &.facebook {
        background-position: -97px 3px; 
      }
      &.pin-it {
        background-position: -180px 1px;
        width: 30px;
      }
    }
  }
}

button {
  &.send-message {
    @extend a.brown-link;
  }
}
