input {
  &[type="text"],
  &[type="tel"],
  &[type="email"] {
    border: 1px solid $color-grey;
    height: 44px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  &[type="checkbox"] {
    .all_products & {
      display: none;
      + label {
        span {
          border-bottom: 1px solid $color-grey;
          border-right: 1px solid $color-grey;
          cursor: pointer;
          display: inline-block;
          height: 15px;
          left: -1px;
          position: absolute;
          top: -1px;
          width: 15px;
        }
      }
    }
    &:checked {
      .all_products & {
        + label {
          span {
          }
        }
      }
    }
  }
  &[type="submit"] {
    background-color: $color-black;
    border: 1px solid $color-black;
    color: $color-lightgrey;
    float: right;
    margin: 10% 0 20%;
    padding: 10px;
  }
  .full & {
    width: 100%;
  }
}
textarea {
  border: 1px solid $color-grey;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
div {
  &.additional {
    border-top: 1px solid $color-lightgrey;
    color: $color-lightgrey;
    margin: 5px 0;
    padding: 5px 0;
    &:last-of-type {
      border-bottom: 1px solid $color-lightgrey;
    }
  }
}

*::-webkit-input-placeholder {
  color: $color-grey;
}

*:-moz-placeholder {
  color: $color-grey;
}

*::-moz-placeholder {
  color: $color-grey;
}

*:-ms-input-placeholder {
  color: $color-grey;
}
