nav {
  &.primary {
    text-align: right;
    a.menu {
      @include tablet {
        display: none;
      }
    }
    ul {
      display: none;
      @include tablet {
        display: block;
        margin: 0 25px 13px 0;
      }
      a {
        color: $color-black;
        position: relative;
        text-transform: uppercase;
        @include tablet {
          padding: 0 15px 13px;
        }
        &.active {
          font-weight: 700;
          &:after {
            border-bottom: 8px solid $color-black;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid transparent;
            bottom: 0;
            content: '';
            display: block;
            height: 0;
            left: 50%;
            margin-left: -8px;
            position: absolute;
            width: 0;
          } 
        }
      }
      li {
        display: inline-block;
        list-style: none;
        text-align: center;
      }
    }
  }
  &.secondary {
    background-color: $color-black;
    border-top: 1px solid $color-darkgrey;
    ul {
      display: none;
      line-height: 36px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      @include tablet {
        display: block;
      }
      li {
        display: inline-block;
      }
      a {
        color: $color-white;
        font-size: 12px;
        @include tablet {
          padding: 0 32px;
        }
        &.active {
          font-weight: 700;
        }
      }
    }
  }
}
