// Colors
$color-black:     #000000;
$color-brown:     #dcc077;
$color-darkgrey:  #333333;
$color-grey:      #a5a5a5;
$color-lightgrey: #959595;
$color-white:     #ffffff;

// Font stack
$font-gotham:     "Gotham SSm A", 'Helvetica', Verdana, "Lucida Grande", "Lucida Sans", serif;

// Breakpoints
$tablet-width:    750px;
$desktop-width:   1100px;
