.about_contact {
  section {
    &.banner {
      border-bottom: 1px solid $color-darkgrey;
      font-size: 16px;
      font-weight: 400;
      line-height: 4;
      padding: 0 10%;
      @include tablet {
        font-size: 20px;
        text-align: center;
      }
      span {
        display: none;
        @include tablet {
          display: inline-block;
        }
      }
    }
    &.top {
      @include desktop {
        align-items: stretch;
        @include flexbox();
        flex-flow: row wrap;
      }
    }
    &.bottom {
      @include tablet {
        align-items: stretch;
        @include flexbox();
        flex-flow: row wrap;
      }
    }
  }
  aside {
    &.form {
      display: block;
      margin: 0 auto;
      padding: 2% 10%;
    }
    &.hero {
      display: none;
      line-height: 0;
      width: 50%;
      @include desktop {
        display: block;
      }
    }
    &.form,
    &.hero {
      @include desktop {        
        @include flex(1 0 50%);
      }
    }
    &.media,
    &.contact {
      color: $color-lightgrey;
      padding: 20px;
      text-align: center;
      @include tablet {
        @include flex(1 0 50%);
      }
    }
    &.media {
      background-color: $color-darkgrey;
    }
    &.contact {
      background-color: $color-black;
    }
  }
  h3 {
    color: $color-darkgrey;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  h5 {
    color: $color-brown;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
  .split-half {
    @include tablet {
      @include flexbox();
      flex-direction: row;
      justify-content: space-between;
      input {
        @include flex(1 1 47.5%);
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
  .split-uneven {
    input {
      margin-right: 2%;
      width: 56%;
      &:first-child {
        width: 100%;
      }
      &:last-child {
        margin-right: 0;
        width: 40%;
      }
    }
    @include tablet {
      @include flexbox();
      flex-direction: row;
      justify-content: space-between;
      input {
        @include flex(1 1 37%);
        margin-right: 10px;
        &:last-of-type {
          @include flex(1 1 20%);
        }
      }
    }
  }
  .expand {
    color: $color-grey;
  }
  .more {
    display: none;
  }
  .join-us {
    clear: both;
    text-align: center;
    span {
      display: none;
      @include tablet {
        display: block;
      }
    }
    ul {
      list-style: none;
      margin: 5% 0;
      padding: 0;
    }
    li {
      display: inline-block;
    }
  }
}
