.index {
  .top {
    .ugc-left,
    .ugc-right {
      display: none;
    }
    .hero {
      width: 100%;
      position: relative;
      .story {
        line-height: 0;
        position: relative;
      }
      .copy {
        color: $color-white;
        line-height: 1.25;
        padding: 0 25%;
        position: absolute;
        text-align: center;
        text-transform: lowercase;
        top: 30%;
        transform: translateY(-50%);
        width: 100%;
        @include tablet {
          font-size: 16px;
        }
        a {
          background-color: rgba(0, 0, 0, .2);
          color: $color-white;
          border: 1px solid $color-white;
          display: inline-block;
          font-size: 10px;
          line-height: 1.5;
          padding: 3% 15%;
          margin: 10% 5% 1% 5%;
          text-transform: uppercase;
          @include tablet {            
            font-size: 12px;
          }
        }
      }
      h3 {
        font-size: 32px;
        font-weight: 300;
        margin: 0;
        @include tablet {
          font-size: 44px;
        }
      }
    }
    @include tablet {
      align-items: flex-start;
      @include flexbox();
      .ugc-left,
      .ugc-right {
        display: block;
        @include flex(1 0 29.1647856%);
      }
      .hero {
        @include flex(1 0 41.6704289%);
      }
    }
    .left,
    .right {
      float: left;
      width: 50%;
    }
    .upper,
    .lower,
    .left,
    .right {
      line-height: 0;
      position: relative;
    }
  }
  header {
    &.news {
      @include show-tablet-up(block);
      font-size: 14px;
      font-weight: 400;
      line-height: 4;
      margin: 0;
      text-align: center;
    }
  }
  .discover {
    @include tablet {
      align-items: stretch;
      @include flexbox;
      > div {
        @include flex(1 0 50%);
        line-height: 0;
        position: relative;
      }
    }
  }
  .discover,
  .news-carousel {
    > div {
      line-height: 0;
      position: relative;
    }
    h3 {
      font-size: 26px;
      font-weight: 400;
      margin: 0;
      & + p {
        margin-top: 0;
      }
    }
    .copy {
      color: $color-white;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.25;
      padding: 0 25%;
      position: absolute;
      text-align: center;
      text-transform: lowercase;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      @include tablet {
        font-size: 16px;
      }
      p + a {
        background-color: rgba(0, 0, 0, .1);
        border: 1px solid $color-white;
        display: inline-block;
        font-size: 10px;
        line-height: 1.5;
        padding: 3% 15%;
        margin: 1% 5%;
        text-transform: uppercase;
        @include tablet {            
          font-size: 12px;
        }
      }
    }
    a {
      color: $color-white;
      display: block;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      text-align: center;
    }
    .owl-controls {
      position: absolute;
      top: -15px;
      width: 100%;
      @include tablet {
        top: 45%;
      }
    }
    .owl-prev,
    .owl-next {
      @include show-tablet-up(inline-block);
      height: 48px;
      position: absolute;
      top: 50%;
      width: 47px;
    }
    .owl-prev {
      background: url('../images/news-arrow-prev.png') 0 0 no-repeat;
      background-size: contain;
      left: 0;
    }
    .owl-next {
      background: url('../images/news-arrow-next.png') 0 0 no-repeat;
      background-size: contain;
      right: 0;
    }
  }
}
.homepage {
  .hero-carousel-controls {
    margin: 0 auto;
    position: relative;
    width: 41.6704289%;    
    .owl-prev,
    .owl-next {
      @include show-tablet-up(inline-block);
      cursor: pointer;
      height: 15px;
      margin-top: -7px;
      position: absolute;
      top: 50%;
      width: 15px;
      z-index: 5;
    }
    .owl-prev {
      background: url('../images/index-arrow-hero-prev.png') 0 0 no-repeat;
      background-size: contain;
      left: 20%;
    }
    .owl-next {
      background: url('../images/index-arrow-hero-next.png') 0 0 no-repeat;
      background-size: contain;
      right: 20%;
    }
  }
}
