.all_products {
  > header {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2.5;
    text-align: center;
    @include tablet {
      font-size: 30px;
    }
  }
  nav {
    &.products {      
      position: relative;
      @include tablet {
        @include flex(1 0 33%);
      }
      &.product {
        border-bottom: 1px solid $color-grey;
        border-top: 1px solid $color-grey;        
        @include tablet {
          border-bottom: 0;
          border-left: 1px solid $color-grey;
          border-right: 1px solid $color-grey;
          border-top: 0;
        }
      }
      header {
        color: $color-grey;
        cursor: pointer;
        font-size: 14px;
        line-height: 4;
        padding: 0 10px;
        position: relative;
        span {
          background: url('../images/products-arrow-down.jpg') 0 0 no-repeat;
          background-size: 100%;
          display: block;
          height: 10px;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 15px;
        }
        &.active {
          span {
            background: url('../images/products-arrow-up.jpg') 0 0 no-repeat;
            background-size: 100%;
          }
        }
      }
      ul {
        background-color: $color-white;
        border: 1px solid $color-grey;
        border-top: 0 transparent;
        display: none;
        left: -1px;
        max-height: 60vh;
        overflow-y: auto;
        padding: 10px 0;
        position: absolute;
        z-index: 5;
        &.active {
          display: block;
        }
        a {
          color: $color-grey;
          display: block;
          line-height: 1.1;
          padding: 5px 10px;
          text-transform: uppercase;
          &.active {
            color: $color-black;
            text-decoration: underline;            
          }
        }
      }
    }
    &.filter {
      header {
        display: inline-block;
        @include tablet {
          display: none;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0;
      padding: 0;
    }
  }
  section {
    &.filters {
      margin: 0 auto 25px;
      max-width: 90%;
      @include desktop {
        max-width: 1000px;
      }
      > div {
        margin: 0 auto;
        vertical-align: top;
        width: 100%;
        @include tablet {
          display: block;
        }
        @include desktop {
          display: inline-block;
        }
        &.allergens {
          @include tablet-only {
            margin: 20px auto;
          }
          @include desktop {
            margin-right: 20px;
          }
        }
        &.sizes {
          @include desktop {
            margin-left: calc(100% - 300px);
          }
        }
      }
    }
    &.module {
      @include tablet {
        @include flexbox();
        flex-flow: row wrap;
      }
    }
  }
  article {
    &.product {
      @include tablet {
        @include flex(0 0 33.3%);
      }
      @include desktop {
        @include flex(0 0 25%);
      }
      a {
        color: $color-black;
      }
    }
    &.story {
      line-height: 0;
      position: relative; 
      text-align: center;
      @include tablet {
        @include flex(0 0 66.6%);
      }
      @include desktop {
        @include flex(0 0 50%);
      }
      .copy {
        color: $color-white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.25;
        padding: 0 15%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        @include tablet {
          font-size: 17px;
        }
        h2 {
          font-size: 26px;
          font-weight: 400;
        }
        p + a {
          border: 1px solid $color-white;
          color: $color-white;
          display: inline-block;
          font-size: 10px;
          line-height: 4;
          margin: 1% 5%;
          text-transform: uppercase;
          @include tablet {            
            font-size: 12px;
            line-height: 3;
            padding: 0 15%;
          }
        }
      }
    }
  }
  div {
    &.dropdowns {
      @include desktop {
        display: inline-block;
        padding: 0 20px 0 0;
        max-width: calc(100% - 340px);
      }
      .wrapper {
        border: 1px solid $color-grey;
        @include tablet {
          @include flexbox();
        }
      }
    }
    &.allergens {
      @include tablet {
        margin: 20px 5% 0 0;
        max-width: 60%;
      }
      @include desktop {
        float: right;
        margin: 0 20px 10px 20px;
        max-width: 275px;
      }
      .wrapper {
        @include flexbox();
        flex-flow: wrap;
        margin: 10px 0;
        @include tablet {
          clear: both;
          margin: 0;
        }
      }
      .box {
        @include flex(0 0 50%);
        border: 1px solid $color-grey;
        color: $color-grey;
        font-size: 11px;
        line-height: 2.5;
        padding-left: 25px;
        position: relative;
        @include tablet {
          @include flex(0 0 25%);          
        }
        @include desktop {
          @include flex(0 0 50%);
        }
        &:nth-child(1),
        &:nth-child(2) {
          @include omit-tablet-only {
            border-bottom: 0;
          }
        }
        &:nth-child(even) {
          @include omit-tablet-only {
            border-left: 0;
          }
        }
        &:not(:first-child) {
          @include tablet-only {
            border-left: 0;
          }
        }
      }
    }
    &.sizes {
      margin-top: 20px;
      max-width: 300px;
      @include tablet {
        max-width: 40%;
      }
      @include desktop {
        margin-top: 0;
        max-width: 300px;
      }
      a {
        background: url('../images/sprite-sizes.jpg') no-repeat;
        background-size: 150px;
        color: $color-grey;
        display: inline-block;
        font-size: 11px;
        margin: 0 7px;
        padding-top: 30px;
        &.quart {
          background-position: 13px 9px;
          &.active {
            background-position: 13px -35px;
          }
        }
        &.oz {
          background-position: -28px 9px;
          &.active {
            background-position: -28px -35px;
          }
        }
        &.cup {
          background-position: -62px 9px;
          &.active {
            background-position: -62px -35px;
          }
        }
        &.bar {
          background-position: -93px 11px;
          &.active {
            background-position: -93px -35px;
          }
        }
        &.snack {
          background-position: -111px 9px;
          &.active {
            background-position: -111px -35px;
          }
        }
      }
    }
    &.hero {
      line-height: 0;
      margin: 0;
      padding: 0;
    }
    &.product-name {
      font-size: 16px;
      line-height: 2.5;
      text-align: center;
    }
  }
  button {
    background-color: $color-white;
    border: 1px solid $color-grey;
    color: $color-grey;
    display: block;
    margin: 0 auto 15px;
    padding: 5px 25px;
    @include tablet {
      display: none;
    }
  }
}
